<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">


	<context:component-scan base-package="com.kkkwm.controller" />

	<mvc:annotation-driven />
	
	<mvc:default-servlet-handler />
	<mvc:resources location="/static/fonts/" mapping="/fonts/**" />
    <mvc:resources location="/static/css/" mapping="/css/**" />
    <mvc:resources location="/static/images/" mapping="/images/**" />
    <mvc:resources location="/static/upload/" mapping="/upload/**" />
	
<!-- 	<bean id="conversionService" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
 -->
	
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设定默认编码 -->
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"></property>
        <!-- 其他的大家可以自行配置，不影响主功能-->
	</bean>

	

	<!--配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="viewResolver">
		<!-- 定义视图存放路径 -->
		<property name="prefix" value="/WEB-INF/view/" />
		<!-- 定义视图后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	




	<!-- <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> 
		<property name="exceptionMappings"> <props> <prop key="java.lang.RuntimeException">syserror</prop> 
		</props> </property> </bean> -->
</beans>